<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Yozi">
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <title>{% block title %}Hello, Yozi{% endblock title %}</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
    {% endblock %}
</head>
<body>
{% block body %}
    {% block content %}{{ content }}{% endblock %}
{% endblock %}
{% block js %}
{% endblock %}
</body>
</html>