{% extends 'layout.html' %}
{% block title %}Расписание для маршрута {{ route }}{% endblock %}
{% block js %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ content }}
    <h1>Расписание для маршрута {{ route }}</h1>
    {% for day in schedule %}
        <div class="day">
            rebuild_schedule[day][station_id][direction]
            <h2>День - {{ day }}</h2>
            <table>
                <thead>
                <tr>
                    <td>Станция</td>
                    <td>Расписание</td>
                </tr>
                </thead>
                <tbody>
                {% for station_id in schedule[day] %}
                    <tr>
                        <td>
                            {% with station_info=schedule[day][station_id]['info'] %}
                                #{{ station_info[0] }} [{{ station_info[1] }}, {{ station_info[2] }} ]
                            {% endwith %}
                        </td>
                        <td>
                            <p>
                                Туда: {{ schedule[day][station_id][True]|join(', ') }}
                            </p>
                            <p>
                                Обратно: {{ schedule[day][station_id][False]|join(', ') }}
                            </p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}
