{% extends 'layout.html' %}
{% block title %}Время остановки{%  endblock %}
{% block js %}
    {{ super() }}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <!-- Change my.cdn.tld to your CDN host name -->
    <script src="/static/data.js"></script>
    <script src="/static/heatmap.min.js"></script>
    <script src="/static/heatmap.js"></script>

    <script>
        HeatMap.initMap([55.45, 37.37], {{ points }}, {{ stations }});
    </script>
{% endblock %}
{% block content %}
    <div id="YMapsID" style="width: 90vw; height: 90vh"></div>
    {{ content }}
{% endblock %}
